*{
    margin: 0;
    padding: 0;
}

html{
    font-size: .8px;
}
 
body{
    font-family: "Arial";
    background-color: #f3f3f3;
}

header{
    display: flex;
    flex-wrap: wrap;
    padding: 15rem;
    gap: 8rem;
}

h1{
    font-size: 24rem;
    font-weight: bold;
}

h2{
    background-color: #39930d;
}

footer{
    background-color: #39930d;
}

ul{
    list-style: none;
    padding-left: 0;
}

.center{
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-direction: row;
}

.last_news, .privat_manager, .facts, .food, .tickets{
    font-size: 14rem;
    line-height: 2.1em;
    text-transform: uppercase;
    color: #343434;
}

h1, .manager{
    color: #39930d;
}

.main{
    background-color: #ffffff;
}

.wrapper{
    max-width: 960rem;
    margin: 0 auto;
    padding: 0 15rem;
}

.logo{
    gap: 8rem;
}

.contacts{
    display: flex;
    justify-content: end;
    gap: 29rem;
}

.manager{
    display: block;
}

.graphick{
    gap: 10rem;
}

.phone{
    gap: 3rem;
}

main img{
    width: 100%;
}

.mp{
    margin-bottom: 10rem;
}

.mp img{
    min-height: 200px;
    object-fit: cover;
    object-position: 80%;
    display: block;
}

.nmp{
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.nmp img{
    width: 100%;
}

.no_marks{
    padding: 20rem;
}

.main_text > h1{
    margin-bottom: 17rem;
}

.main_text > p{
    margin-bottom: 15rem;
}

.manager{
    font-size: 24rem;
    text-transform: uppercase;
}

.football_tittle, .graphick, .phone_number{
    font-size: 14rem;
    color: #5a5a5a;
}

.graphick, .phone{
    font-weight: bold;
    text-align: right;
}

.main_picture{
    max-width: 920rem;
}

.second{
    grid-area: second;
}

.third{
    grid-area: third;
}

.fourth{
    grid-area: fourth;
}

.fifth{
    grid-area: fifth;
}

.text{
    padding: 31rem 0 32rem;
    display: flex;
    justify-content: center;
    gap: 19rem;
}

.football_partners{
    padding: 13rem 19rem;
    min-width: 300rem;
}

.main_text{
    max-width: 594rem;
}

.football_partners{
    font-size: 18rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.paragraph_1, .paragraph_2, .paragraph_3{
    font-size: 14rem;
    line-height: 1.5em;
    color: #343434;
}

.inst, .facebook, .tw{
    display: inline-block;
    padding: 10rem 0;
}

.second_logo{
    font-size: 14rem;
    color: #ffffff;
}

.sn{
    gap: 11rem;
}

@media screen and (min-width: 240px) {
    aside{
        width: 100%;
    }

    .text{
        flex-wrap: wrap;
    }

    .nmp{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "second third"
        "fourth fifth"
        ;
    }
}

@media screen and (min-width: 485px) {
    .nmp{
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "second third fourth fifth"
    ;
    }
}

@media screen and (min-width: 600px) {
    .text{
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 0.93px;;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 1px;
    }
}

@media screen and (min-width: 2200px) {
    html {
        font-size: 1.5px;
    }
}