*{
    margin: 0;
    padding: 0;
}
 
body{
    background-color: #f3f3f3;
    font-family: "Arial";
}

footer{
    background-color: #39930d;
}

h1{
    font-size: 24px;
    font-weight: bold;
}

h2{
    background-color: #39930d;
}

footer{
    max-width: 1200;
}

.last_news, .privat_manager, .facts, .food, .tickets{
    font-size: 14px;
    line-height: 2.1em;
    text-transform: uppercase;
    color: #343434;
}

h1, .manager{
    color: #39930d;
}

.main{
    background-color: #ffffff;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 120px;;
}

.manager{
    font-size: 24px;
    text-transform: uppercase;
}

.football_tittle, .graphick, .phone_number{
    font-size: 14px;
    color: #5a5a5a;
}

.graphick, .phone{
    font-weight: bold;
    text-align: right;
}

.main_picture{
    max-width: 920px;
}

.third, .second, .fourth, .fifth{
    max-width: 225px;
    padding-bottom: 31px;
}
.list{
    min-width: 300px;
}

.main_text{
    min-width: 594px;
}

.football_partners{
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.paragraph_1, .paragraph_2, .paragraph_3{
    font-size: 14px;
    line-height: 1.5em;
    color: #343434;
}

.inst, .facebook, .tw{
    display: inline-block;
    padding: 10px 0;
}

.second_logo{
    font-size: 14px;
    color: #ffffff;
}

